.main-banner {
    background-image: url(../../assest/images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.main-banner .content {
    z-index: 3;
}

.main-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #1e293b;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .9;
}
.main-banner::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 50%;
    width: 100%;
    background: #1e293b;
    z-index: 2;
    filter: blur(25px);
}

.main-banner h1 span {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 217, 0, 1) 0%, rgba(255, 169, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-banner p {
    color: #f6f7f9;
}

.bannerOffers {
    padding: 0px 30px;
    padding-top: 45px;
    position: relative;
}

.bannerOffers .topOffer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bannerOffers .item img {
    width: 140px;
    height: auto;
}

.bannerOffers .offerContent {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 7px;
}

.bannerForm button {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 217, 0, 1) 0%, rgba(255, 169, 0, 1) 100%);
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.heading-shadow {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(255 217 0 / 40%) 0%, rgb(255 169 0 / 40%) 100%);
    filter: blur(60px);
    height: 100px;
    width: 40%;
    position: absolute;
}

.heading-shadow .relative {
    z-index: 1;
}

.sec-heading {
    text-align: center;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reviews img {
    width: 140px;
}

.cashoutVia {
    background: #384152;
    width: 100%;
    height: 100%;
    top: 0;
}

.cashout-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.cashout-wrapper {
    background: #384152;
    border-radius: 30px;
    padding: 20px;
    width: 85%;
    margin: auto;
    z-index: 1;
    position: relative;
}

.cashout-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cashoutAmount p.text {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-style: italic;
}

.cashoutAmount p.text span {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 217, 0, 1) 0%, rgba(255, 169, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cashoutAmount .amount {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 217, 0, 1) 0%, rgba(255, 169, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span.live-circle {
    width: 30px;
    height: 30px;
    background: #4CAF50;
    border-radius: 50%;
    border: 6px solid #4f6a50;
}

.bg-shadows {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(255 217 0 / 40%) 0%, rgb(255 169 0 / 40%) 100%);
    filter: blur(60px);
    height: 175px;
}

.casoutSS {
    position: relative;
}

.testi-sec {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.testi-sec .items {
    padding: 20px;
    background: #384152;
    border-radius: 10px;
}

.testi-sec .items .img {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.testi-sec .items .img img {
    height: auto;
    width: 70px;
}

.testi-sec .items .aboutUser {
    color: #fff;
    text-align: left;
}

.testi-sec .items .content {
    color: #fff;
    text-align: left;
}

.language-en {
    border-radius: 25px;
    background: #525566;
    padding: 4px 5px;
}

@media (max-width: 768px) {
    .cashout-items {
        gap: 35px;
    }

    .cashout-wrapper {
        padding: 15px;
        width: 98%;
    }

    .bannerOffers {
        padding: 0 10px;
        padding-top: 35px;
    }

    .bannerOffers .item img {
        width: 94px;
    }

    .bannerOffers .offerContent p {
        font-size: 12px;
    }

    .bannerOffers .offerContent p.price {
        font-size: 14px;
    }
}

@media (min-width: 1400px) {
    .bannerOffers {
        padding: 0 70px;
    }
    .bannerOffers .item img {
        width: 154px;
    }
        .explore-btn {
            padding-top: 30px;
        }

}