.main {
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    background: linear-gradient(92deg, rgb(9 17 36) -16.9%, rgb(28 9 34) 119.9%);
    /* background: linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%);
    background: linear-gradient(109.6deg, rgb(193, 98, 253) 11.2%, rgb(0, 49, 165) 91.1%); */
    height: 100%;
    width: 100%;
    min-height: 100vh;
    margin-top: 62px;
    position: relative;
}
header.user-header {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 1px 25px #0f1522;
    background: #151d2e;
    z-index: 99;
}
.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.secTop button {
    background: #4e4e4e;
    border: none;
    color: rgb(168, 170, 201);
    background: rgb(37, 37, 57);
}
.user-prof {
    width: 350px;
}
.user-prof input {
    width: 100%;
}
.profile-img {
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
    border-radius: 50%;
    padding: 6px;
    background: #484f5e;
    position: relative;
}
.profile-img:hover {
    cursor: pointer;
}
.profile-img svg{
    font-size: 30px;
    color: #b5c2db;
} 
.profile-img img {
    width: auto;
    height: auto;
    object-fit: cover;
}
.profile-img span {
    display: block;
    position: absolute;
    font-size: 14px;
    bottom: -30px;
    left: -5px;
    background: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    opacity: 0;
    transition: all .2s ease-in-out;
} 
.profile-img:hover span {
    opacity: 1;
    bottom: -5px;
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-right .iconbtn {
    border: 1px solid #646464;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header-right .iconbtn svg {
    font-size: 22px;
    color: #858585;
}

.userProfile p {
    width: 40px;
    height: 40px;
    background: #4e4e4e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    color: #ef476c;
    /* color: #544224; */
}
.userProfile img {
    width: 40px;
    height: 40px;
    background: #4e4e4e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    object-fit: cover;
}

.userProfile h5 {
    font-weight: 600;
    color: #9ea7bb;
    font-size: 17px;
}

.userProfile span {
    color: #858585;
    font-size: 14px;
    font-weight: 600;
}

.header-right .dropdown {
    color: #646464;
}
.user-sidebar {
    width: 220px;
    padding: 20px 10px;
    position: fixed;
    height: 100vh;
    /* overflow-y: scroll; */

}
.mobile-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background: #192336;
    z-index: 9999;
    box-shadow: 0 1px 2px #333;
    padding: 25px 20px;
    transition: all .5s;
    transform: translateX(100%);
}
.sidebar_opened .mobile-sidebar.open {
     transform: translateX(0);
}

.dashboard-wrapper {
    width: calc(100% - 220px);
    margin-left: 220px;
}
.menu-items {
    padding-top: 20px;
}

.menu-items ul li {
    text-align: left;
    /* padding: 10px 11px; */
    background: transparent;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: all .2s ease;
    cursor: pointer;
}
.menu-items ul li a {
    padding: 10px 11px;
    display: inline-block;
    width: 100%;
}
.menu-items ul li.active {
    background: linear-gradient(86deg, rgb(12 20 69 / 50%) -16.9%, rgb(71 30 84 / 50%) 119.9%);
}
.menu-items ul li.active:hover {
    background: linear-gradient(86deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
}
.menu-items ul li:hover{ background: #182236;}
.menu-items ul li button {
    color: #9ea7bb;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}
.menu-items ul li button svg{font-size: 21px;}
.footer-menu{display: none;}
.footer-menu .menu-items {padding-top: 0; }
.footer-menu .menu-items ul {display: flex; justify-content: space-around; align-items: center; gap: 2px;}
.footer-menu .menu-items li{margin-bottom: 0;}
.footer-menu .menu-items li a{padding: 10px 20px;}
.footer-menu .menu-items button {display: flex; flex-direction: column; gap: 2px; font-size: 13px;}
.footer-menu .menu-items button span{font-size: 25px;}

/* main content css */

/* swiper css */
.swiper {
    width: 100%;
    height: 100%;
    position: static !important;
  }
  
.swiper-slide {
    width: 165px !important;
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    width: 28px !important;
    height: 28px !important;
    background: #192336;
    border-radius: 50%;
    box-shadow: 0 2px 6px #26143a;  
    color: #d13d5e !important;
    bottom: 35% !important;
    top: auto !important;
    transition: all 2.s ease;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
    background: #fff;
}
.swiper-button-prev:after, .swiper-button-next:after {
font-size: 9px !important;
    font-weight: 600 !important;}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -11px) !important;
    right: auto;
}


.items-wrapper .item {
    height: 198px;
    overflow: hidden;
    width: 145px;
    border: 1px solid #686868;
    border-radius: 14px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
/* .items-wrapper .item:hover .offer-content{
    height: 100%;
} */

.items-wrapper .item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s ease;
}
.items-wrapper .item:hover img{
    transform: scale(1.2);
}
.offers-box {
    position: relative;
}
.offers-box .items-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}
/* .offers-box .items-wrapper .item{
    width: auto;
} */
.offer-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0; /* Hidden below the item initially */
    left: 0;
    right: 0;
    transition: transform 0.4s ease; /* Smooth slide-in effect */
    transform: translateY(100%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    background: linear-gradient(86deg, rgb(0 0 0 / 71%) -16.9%, rgb(0 0 0 / 69%) 119.9%);
}
.offer-hover p {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    opacity: 0;
    transition: opacity .5s ease;
}
.offer-start-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffdbe3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-start-icon svg {
    color: #d13d5e;
    font-size: 22px;
}
.items-wrapper .item:hover .offer-hover{
    transform: translateY(0);
}
.items-wrapper .item:hover .offer-hover p{
    opacity: 1;
}
.offer-content {
    position: absolute;
    bottom: 0;
    background: #404040de;
    width: 100%;
    padding: 6px;
    color: #fff;
    transition: all .2s ease-in-out;
    z-index: 3;
}
.offer-content p {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
}
.offer-content span {
    font-size: 14px;
    color: #d9d9d9;
}
p.offer-price {
    color: #ff5178;
    color: #ffca71;
    font-size: 17px;
    font-weight: 600;
}
.spItem-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}
.spItem span svg {
    color: #fcba06;
}
.spItem p {
    color: #d3d3d3;
    font-size: 15px;
    color: #9ea7bb;
}
.spItem img {
    width: 120px;
}
.survey-partner-box {
    background: #111827;
    padding: 20px 20px;
    border-radius: 14px;
}
.spItem {
    padding: 15px;
    background: #2D3449;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #2b1f3a;
    cursor: pointer;
}
.spItem:hover {
    background: #192036;
}
.spItem button{
    background: linear-gradient(86deg, rgb(12 20 69) -16.9%, rgb(71 30 84) 119.9%);
    transition: all .2s ease-in-out;
    font-size: 14px;
}
.spItem:hover button {
    background: #d13d5e;
}
.earning-wrapper .item {
    background: #3b354e;
    padding: 16px;
    border-radius: 7px;
    color: white;
    background: #1c273e;
    background: #192336;
    width: 100%;
}
.earning-wrapper .item .icon {background: #e5e5e5;width: 45px;height: 45px;border-radius: 50%;display: flex;justify-content: center;align-items: center;
    /* background-color: #505050; */
}

.earning-wrapper .item .icon svg {
    font-size: 26px;
    color: #f1f1f1;
    color: #ffca71;
    color: #d13d5e;
}
.user-balance p {
    color: #24a947;
    /* font-weight: 600; */
    font-size: 18px;
    border: 1px solid #646464;
    padding: 3px 13px;
    border-radius: 21px;
}

.user-balance p span {
    margin-left: 10px;
}
.refer-user{
    height: 190px;
    overflow: hidden;
    background: linear-gradient(86deg, rgb(12 20 69 / 50%) -16.9%, rgb(71 30 84 / 50%) 119.9%);
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid #242e40;
}
.refer-user img{
    width: auto;
    height: 90%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    opacity: .9;
}
.refer-user p {color: #c3c3c3;font-size: 15px; width: 70%;}
.refer-user svg {
    font-size: 24px;
    color: #d13d5e;
    color: #ffffffc7;
    cursor: pointer;
}
.refer-user input {
    background: transparent;
    border: 1px solid #525252;
    padding: 6px 7px;
    border-radius: 4px;
    color: #a1a1a1;
    width: 65%;
    /* margin-top: 10px; */
}

.userprofile {
    background: #192336;
    width: 700px;
}
.userprofile p {
    color: #fff;
}
.dashboard-bg {
    padding: 4px 16px;
    background: #192336;
    border-radius: 12px;
}
/* MODAL CSS */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 999;
    overflow: auto;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #192336;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    width: 60%;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #b5b5b5;
    font-size: 28px;
    border: 1px solid #5e5e5e;
    transition: all .2s ease;
}
.close-button:hover {
    background-color: transparent;
    color: #fff;
}
.modal.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.chnagepass-modal.modal-content {
    width: 40%;
}
.withdraw-amount {
    background: #192336;
    padding: 10px 20px;
    margin: 30px 0;
}
.withdrw-bg {
    background: #192336;
    width: 700px;
}
.withdrw-bg input, .withdrw-bg select {
    width: 100%;
    padding: 10px;
    border: 1px solid #3e4655;
    margin-top: 5px;
    background-color: #1d293e;
    border-radius: 5px;
    color: #ddd;
}
.walletImg {
    width: 40px;
}
.withdrw-bg input:focus, .withdrw-bg select:focus {
    outline: 1px solid #d13d5e;
}

.leaderboard-table table th {
    background: #151d2e !important;
    border: none;
    border-bottom: 1px solid #3a1d5b !important;
    color: #9ea7bb !important;
}
.leaderboard-table table td {
    background: #111827 !important;
    border-bottom: 1px solid #1f283b !important;
}
.leaderboard-table table td span {
    color: #fff ;
}
.leaderboard-table table p {
    color: #fff;
}
.statics-box {
    background: #192336;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statics-box .item{
    padding: 15px;
    position: relative;
    
}
.statics-box .item h4{
    font-size: 62px;
    font-weight: 600;
    color: #cfd0d1;
}
.statics-box .item p{
    color: #ffca71;
}
.statics-box .saperater {
    position: absolute;
    width: 1px;
    height: 66%;
    color: #cfd0d1;
    top: 20%;
    right: -67%;
    background: #cfd0d114;
}
.tabs {
    padding: 20px 0;
    display: flex;
    gap: 15px;
}
.tabs button {
    padding: 4px 10px;
    background: #3333;
    color: #ffffffa1;
}
.tabs button.active {
    padding: 4px 10px;
    background: #3333;
    color: #d13d5e;
}

@media (max-width: 1200px) {
    .user-sidebar {
        display: none;
    }
    .dashboard-wrapper{
        width: 100%;
        margin-left: 0;
    }
    .survey-partner-box{
        padding: 15PX;
    }
    .modal-content {width: 90%;}
    .modal-content img {
            width: 100%;
            height: 234px;
            object-fit: cover;
        }
    
}
@media (max-width: 768px) {
    .sidebar_opened .sidebar-backdrop {
        opacity: 1;
        pointer-events: all;
    }
    .sidebar-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000a8;
        transition: .5s;
        opacity: 0;
        pointer-events: none;
        z-index: 999;
    }
    .userprofile {width: 100%;}
    .user-prof {width: 100%;}
    .refer-user p{width: 76%;}
    .refer-user img{height: 65%;}
    .refer-user input{width: 95%; margin-top: 25px;}
    .dashboard-wrapper{margin-bottom: 78px;}
    .footer-menu {display: block;position: fixed;
        bottom: 0;
        left: 0;
        border-top: 1px solid #182030;
        z-index: 999;
        width: 100%;}
    .modal-content {
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(0);
        padding: .5rem;
    }
    .chnagepass-modal.modal-content {
        width: 100%;
    }
   .modal-content h5 {
        font-size: 21px;
        font-weight: 600;
    }
    .earning-wrapper .item {padding: 8px;}
    .earning-wrapper .item .icon {width: 40px; height: 40px;}
    .earning-wrapper .item .icon svg {font-size: 24px;}
    .user-balance p{
        padding: 3px 7px;
        font-size: 15px;
    }
    .main {margin-top: 0;
        padding-top: 55px;}
    .swiper-slide {width: 105px !important;}
    .items-wrapper .item {width: 102px; height: 187px;}
}